@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

.headerParagraf{
    width: 800px;
    font-size: 24px;
    color: #ffffff;
    font-family: "Montserrat-Local";
    display: block;
    position: absolute;
    top: 160px;
    margin-left: 60px;
}
.sections{
    margin: -260px auto;
    max-width: 1235px;
    height: 80px;
    position: relative;
    z-index: 3;
    display: flex;
}
.sectionItem{
    font-family: 'Montserrat', sans-serif;
    width: 280px;
    font-size: 16px;
    font-weight: bold;
    color: #BEDDF0;
    display: block;
    text-align: center;
    padding: 20px 15px;
    border-radius: 7px 7px 0 0;
    background: transparent;
    border-width: 1px 1px 0 1px;
    border-color: transparent;
    border-style: solid;
    border-bottom: 1px solid transparent;
    transition: ease-out 0.5s;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}
.sectionItem:hover{
    background: #fff;
    color: #0074C9;
    border-width: solid #BEDDF0;
    border: 1px 1px 0 1px;
}
.active{
    background: #fff;
    color: #0074C9;
}
.sectionBody{
    margin-top: 280px;
    margin-left: 30px;
}
.BodyHeader{
    width: 1050px;
    display: flex;
    align-items: center;
    border:solid black;
    border-width: 0 0 2px 0;
}